@import url('https://fonts.googleapis.com/css?family=Comfortaa:700');

footer {
  width: 100%;
}

.input-field option {
  font-size: 10px;
}

.card-content p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.detaliiImob {
  margin-bottom: 10px;
}

.card-action {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-action button {
  margin-left: 10px;
  margin-right: 10px;
}

.nav-wrapper a {
  color: #000;
}

#imgContainer {
  bottom: 10px;
  width: 100%;
  min-height: 350px;
  background: url('../img/land_cover.jpg') no-repeat center #eee;
  background-size: cover;
}

.anunt {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.imgCard {
  height: 200px;
}

.card-action a {
  text-decoration: none;
  color: #ff6e40;
}

#imgPresentation {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

#sortareRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

#sortareRow a {
  display: flex;
  align-items: center;
  justify-content: center;
}

#detaliiImob {
  display: flex;
  align-items: baseline;
  justify-content: center;
  color: #4a148c;
}

#detaliiImob > * {
  margin-right: 15px;
}

#footerSocial ul {
  display: flex;
}
#footerSocial ul li {
  margin-right: 15px;
}

#divContactText p {
  font-family: 'Comfortaa', cursive;
  text-align: center;
}

#map iframe {
  width: 100%;
  height: 315px;
  border: 1px solid #000;
}

#msgBtn {
  margin-top: 15px;
  margin-bottom: 15px;
}

#adaugaBtn {
  margin-left: 20px;
}
