@import url('https://fonts.googleapis.com/css?family=Comfortaa|Lobster');

body {
  background-color: #eee;
}

footer {
  width: 100%;
}

hr {
  border: 0;
  border-top: 1px solid #000;
}

.bluenav {
  background-color: #eee;
  height: 80px;
  color: #03224c;
}

.navbar-fixed {
  height: 80px;
  color: #03224c;
}

.nav-wrapper {
  font-family: 'Comfortaa', cursive;
  align-items: center;
  justify-content: center;
}

.brand-logo {
  font-family: 'Lobster', cursive;
}

.topmenu li {
  color: #03224c;
}

#logoImg {
  background-color: #eee;
  height: 80px;
}

.bluefooter {
  background-color: #03224c;
}

.input-field option {
  font-size: 10px;
}

.card {
  background-color: #03224c;
}

.card-content p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
}

.detaliiImob {
  margin-bottom: 10px;
  color: #fff;
}

.card-action {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-action button {
  margin-left: 10px;
  margin-right: 10px;
}

.nav-wrapper a {
  color: #fff;
}

.anunt {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.imgCard {
  height: 200px;
}

.card-action a {
  text-decoration: none;
  color: #ff6e40;
}

#sortPret {
  display: flex;
  align-items: center;
  justify-content: center;
}

#sortPret i{
  margin-right: 5px;
}

#sortSupraf {
  display: flex;
  align-items: center;
  justify-content: center;
}

#sortSupraf i{
  margin-right: 5px;
}

#sortCamere {
  display: flex;
  align-items: center;
  justify-content: center;
}

#sortCamere i{
  margin-right: 5px;
}

#searchFilter {
  background-color: #f4661b;
}

#imgContainer {
  bottom: 10px;
  width: 100%;
  min-height: 350px;
  background: url('../img/landing2.jpg') no-repeat center #eee;
  background-size: cover;
}

#imgPresentation {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

#sortareRow {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #03224c;
}

#sortareRow button {
  color: #03224c; 
}

#sortareRow a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #03224c;
}

#detaliiImob {
  display: flex;
  align-items: baseline;
  justify-content: center;
  color: #fff;
}

#detaliiImob > * {
  margin-right: 15px;
}
.footer-main {
  color: #fff;
}

.footer-base {
  background-color: #f4661b;
  height: 40px;
}

#footerSocial ul {
  display: flex;
}
#footerSocial ul li {
  margin-right: 15px;
}

#footerContact hr {
  border-top: 1px solid #f4661b; 
}

#footerSocial hr {
  border-top: 1px solid #f4661b; 
}

#divContactText p {
  font-family: 'Comfortaa', cursive;
  text-align: center;
}

#map iframe {
  width: 100%;
  height: 315px;
  border: 1px solid #000;
}

#msgBtn {
  margin-top: 15px;
  margin-bottom: 15px;
}

#adaugaPoze {
  margin-left: 10px;
}

#adaugaBtnDiv {
  display: flex;
  justify-content:flex-end;
}

#modificaAnuntBtn {
  margin-left: 10px;
}

.detaliiBtn {
  background-color: #f4661b;
}

.detaliiBtn:hover {
  background-color: #03224c;
}

.pics img {
  width: 200px;
  height: 200px;
}
